:root {
  --green-50: hsl(141deg 75% 90%);
  --green-100: hsl(141deg 75% 85%);
  --green-200: hsl(141deg 75% 70%);
  --green-300: hsl(141deg 75% 60%);
  --green-400: hsl(141deg 75% 50%);
  --green-500: hsl(141deg 75% 45%);
  --green-600: hsl(141deg 75% 35%);
  --green-700: hsl(141deg 75% 25%);
  --green-800: hsl(141deg 75% 15%);
  --green-900: hsl(141deg 75% 10%);
  --green-950: hsl(141deg 75% 5%);
  --green-1000: hsl(141deg 75% 2.5%);
  --green-1000-25: hsl(141deg 75% 2.5% / 25%);

  --transition-duration: 200ms;
  --transition-function: ease;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
}

/* Reset */
/* Seletor Universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-1000);
  color: var(--green-50);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

/* Main */
.main {
  margin: 0 10px 10px;
  padding: 20px;
  border-radius: var(--border-radius-l);
  flex: 1;
  background-image: linear-gradient(
    to bottom,
    var(--green-900),
    var(--green-1000)
  );
  display: flex;
  flex-direction: column;
  gap: 39px;
}

/* ItemList */

.item-list {
}

.item-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.single-item {
  padding: 25px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  transition: background-color ease 200ms;
}

.single-item:hover {
  text-decoration: none;
  background-color: var(--green-900);
}

.single-item:hover .single-item__icon {
  opacity: 1;
  transform: translateY(0);
}

.single-item__div-image-button {
  position: relative;
}

.single-item__div-image {
  width: 140px;
  height: 140px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.single-item__icon {
  position: absolute;
  right: 7.5px;
  bottom: 7.5px;
  font-size: 50px;
  color: var(--green-400);
  opacity: 0;
  transform: translateY(100%);
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: opacity, transform;
}

.single-item__title {
  font-weight: 600;
}

.single-item__type {
  font-size: 13px;
}

.single-item__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
